.filter-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.evenly-spaced {
    justify-content: space-between;
}

.filter-inner-container {
    padding-right: 1.5em;
    //display: flex;
}

.icon-loglevel-container {
    margin-left: 1em;
}

.double-filter-container {
    display: flex;
    justify-content: space-between;
}

.filter-box {
    width: 48.5%;
}