<mat-toolbar color='primary' class="main-toolbar mat-elevation-z6">
  <span>Log Viewer and Analyzer</span>
  <span class="spacer"></span>
  <button mat-raised-button class="button-with-icon" (click)="tableDisplayService.changeDisplaySetting()">
    <div class="button-container">
        <span class="button-text">{{tableDisplayService.isInfiniteTableSet ? 'Disable Infinite Table' : 'Enable Infinite Table'}}</span>
        <mat-icon class="icon">list_alt</mat-icon>
    </div>
  </button>
</mat-toolbar>