<div class="message-flex-container">
  <div>
    <ng-container *ngFor="let item of parsedValue.cleanedMessageStringArray; let idx = index">
      <span *ngIf="idx !== 0 && !item.isReplacementToken">&nbsp;</span>
      <span *ngIf="!item.isReplacementToken">{{item.messageString}}</span>
      <span class="json-token" *ngIf="item.isReplacementToken" (click)="$event.preventDefault(); $event.stopPropagation(); copyMessage(item.messageString)">{{item.messageString}}</span>
      <span *ngIf="idx !== parsedValue.cleanedMessageStringArray.length - 1 && !item.isReplacementToken">&nbsp;</span>
    </ng-container>
  </div>
</div>