.header-background {
    margin-bottom: 60px;
    height: 350px;
    color: white;
}

.header-headline {
    text-align: center;
    padding-top: 130px;
}

.header-headline h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}

.header-headline h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    margin: 15px 0 25px;
}