@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './app/SubComponents/collapsible-container/collapsible-container.component.theme.scss';
@import './app/SubComponents/header-splash-screen/header-splash-screen.component.theme.scss';
@import './app/SubComponents/loglevel-displays/loglevel-display.component.theme.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-app-primary: mat-palette($mat-deep-purple);
$custom-app-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$custom-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

//$custom-app-theme-dark: mat-dark-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);
$custom-app-theme-dark: mat-dark-theme(mat-palette($mat-orange, 800), $custom-app-accent, $custom-app-warn);
$typo-config: mat-typography-config();

// default theme
@include angular-material-theme($custom-app-theme);

.custom-app-theme-dark {
    @include angular-material-theme($custom-app-theme-dark);
    @include collapsible-container-theme($custom-app-theme-dark);
    @include collapsible-container-typography($typo-config);

    @include splash-screen-theme($custom-app-theme-dark);
    @include splash-screen-typography($typo-config);

    @include loglevel-display-theme($custom-app-theme-dark);
}

// Custom Component Theming Section
@include collapsible-container-theme($custom-app-theme);
@include collapsible-container-typography($typo-config);

@include splash-screen-theme($custom-app-theme);
@include splash-screen-typography($typo-config);

@include loglevel-display-theme($custom-app-theme);